.post__card{
    margin-bottom: 29px !important;
    margin-right: 20px !important;
}
.delete__button{
  float: right;
    padding: 7px;

}
.buttons{
    justify-content: space-between;

}

button.delete__button {
    border: 0;
    background-color:  #00B4CC;
    border-color: #00B4CC !important;
    border: 1px solid;
}
button.delete__button:hover{
    background-color: #FF3333;
    border-color: red  !important;
    border: 1px solid;
}

button.delete__button:focus{
    background-color: #FF3333;
    border-color: red  !important;
    border: 1px solid;
}